@model IEnumerable<LegoCollectionManager.Models.Set>

@{
    ViewData["Title"] = "AddUserSet";
}

<h1>AddUserSet</h1>

<h4>UserSet</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddUserSet">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @foreach(var set in Model)
                {
                    <input name="Set" type="radio" value=@set.SetId />
                    <label value=@set.SetName>@set.SetName</label>
                    <br />
    
                }
            <div class="form-group">
                <input type="submit" value="Select" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
