@model LegoCollectionManager.Models.User

@{
}

<h1>@Html.DisplayNameFor(model => model.Username)</h1>

<div>
    <h4>Sets</h4>
    <hr />
    <h4>Pieces</h4>
    <hr />
</div>
<div>
    <a asp-action="Index">Logout</a>
</div>