<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - LegoCollectionManager</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="~/css/site.css" />
  <link rel="icon" type="image/x-icon" href="/images/logo.svg">
</head>
<body  style="background-image: url('../Images/background.png'); background-repeat: repeat; width:100%; height:100%">
  <header style="background-color: #173EAD;">
    <nav class="navbar navbar-expand-md justify-content-center">
      <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="/images/logo.svg" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">
              <div class="navbarItems">
                <div class="insideitems">
                  <img src="/images/try.png" style="width: 60%" />
                  <p>Profile</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PieceCategory" asp-action="Index">
              <div class="navbarItems">
                <div class="insideitems">
                  <img src="/images/brick.png" style="width: 60%" />
                  <p>Lego Pieces</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Set" asp-action="Index">
              <div class="navbarItems">
                <div class="insideitems">
                  <img src="/images/box.png" style="width: 60%" />
                  <p>Lego sets</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="UserSets">
              <div class="navbarItems">
                <div class="insideitems">
                  <img src="/images/tick.png" style="width: 60%" />
                  <p>My Collection</p>
                </div>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="CustomSet" asp-action="Index">
              <div class="navbarItems">
                <div class="insideitems">
                  <img src="/images/try.png" style="width: 60%"/>
                  <p>Custom Sets</p>
                  </div>
              </div>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Search" asp-action="Index">
              <div class="navbarItems">
                <div class="insideitems">
                  <img src="/images/mag.png" style="width: 60%" />
                  <p>Search</p>
                </div>
              </div>
            </a>
          </li>
          
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>

  </header>
  <div class="container" >
    <main role="main" class="pb-3">
      @RenderBody()
    </main>
  </div>
  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
