
@{
    ViewData["Title"] = "Index";
}

<h1>Set Information</h1>

<!-- TODO: Figure out how to navigate to entered set number -->

@using (Html.BeginForm("SetInformation", "SetInformation", FormMethod.Get)) {
    <input name="id" id="id" placeholder="Enter Set Id"/>

    <input type="submit" value="Navigate" />
}