@model LegoCollectionManager.Models.User

@{
    ViewData["Title"] = "Add Set";
}

<h1>Add Set</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="Set" class="control-label">Set number</label>
                <select asp-for="Set" class ="form-control" asp-items="ViewBag.SetNumbers"></select>
                <span asp-validation-for="Set" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

